In [8]:
%matplotlib notebook

In [9]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from functools import reduce

In [47]:
#Take in data and read csv files

#May 2019
zone1_may2019 = "Resources/raw_zones_data/zone1_may2019.csv"
zone2_may2019 = "Resources/raw_zones_data/zone2_may2019.csv"
zone3_may2019 = "Resources/raw_zones_data/zone3_may2019.csv"
zone4_may2019 = "Resources/raw_zones_data/zone4_may2019.csv"
zone5_may2019 = "Resources/raw_zones_data/zone5_may2019.csv"
zone6_may2019 = "Resources/raw_zones_data/zone6_may2019.csv"


#Read May 2019 Data File and store into Pandas DataFrames
zone1_may2019 = pd.read_csv(zone1_may2019)
zone2_may2019 = pd.read_csv(zone2_may2019)
zone3_may2019 = pd.read_csv(zone3_may2019)
zone4_may2019 = pd.read_csv(zone4_may2019)
zone5_may2019 = pd.read_csv(zone5_may2019)
zone6_may2019 = pd.read_csv(zone6_may2019)

zone1_may2019

,UC2_Literal,Report Number,Report Date,Location,Beat,Neigborhood,NPU,Lat,Long,Unnamed: 9
0,ROBBERY,191511609,05/31/2019,2423 MARTIN L KING JR DR NW,108,Florida Heights,I,33.75183,-84.46623,NaN
1,BURGLARY,191511253,05/31/2019,2031 CHICAGO AVE NW,107,Grove Park,J,33.76485,-84.45386,NaN
2,LARCENY-NON VEHICLE,191512118,05/31/2019,2045 DONALD LEE HOLLOWELL PKWY NW,107,Grove Park,J,33.77740,-84.45214,NaN
3,LARCENY-FROM VEHICLE,191510677,05/31/2019,3123 ELEANOR TER NW,112,Collier Heights,I,33.77746,-84.48870,NaN
4,LARCENY-FROM VEHICLE,191510516,05/31/2019,2707 DONALD LEE HOLLOWELL PKWY NW,113,Brookview Heights,G,33.77774,-84.47583,NaN
...,...,...,...,...,...,...,...,...,...,...
368,LARCENY-FROM VEHICLE,191210403,05/01/2019,250 CHILDS DR NW,105,Hunter Hills,K,33.76205,-84.43677,NaN
369,LARCENY-NON VEHICLE,191210907,05/01/2019,2615 DONALD LEE HOLLOWELL PKWY NW,109,Center Hill,J,33.77620,-84.47236,NaN
370,LARCENY-NON VEHICLE,191211111,05/01/2019,2001 JAMES JACKSON PKWY NW,103,Riverside,D,33.81063,-84.47569,NaN
371,LARCENY-NON VEHICLE,191210497,05/01/2019,1815 MARTIN L KING JR DR NW,108,NaN,I,33.75092,-84.44661,NaN
372,LARCENY-NON VEHICLE,191210486,05/01/2019,339 HOLLY ST NW,107,Grove Park,J,33.76460,-84.43757,NaN

In [48]:
#groupby crime type
#zone1
zone1_2019 = zone1_may2019[['UC2_Literal']]
zone1_crime_type_2019 = zone1_may2019.groupby(['UC2_Literal'])
zone1_total_crimes = zone1_crime_type_2019['Report Number'].count()

#zone2
zone2_2019 = zone2_may2019[['UC2_Literal']]
zone2_crime_type_2019 = zone2_may2019.groupby(['UC2_Literal'])
zone2_total_crimes = zone2_crime_type_2019['Report Number'].count()

#zone3
zone3_2019 = zone3_may2019[['UC2_Literal']]
zone3_crime_type_2019 = zone3_may2019.groupby(['UC2_Literal'])
zone3_total_crimes = zone3_crime_type_2019['Report Number'].count()

#zone4
zone4_2019 = zone4_may2019[['UC2_Literal']]
zone4_crime_type_2019 = zone4_may2019.groupby(['UC2_Literal'])
zone4_total_crimes = zone4_crime_type_2019['Report Number'].count()

#zone5
zone5_2019 = zone5_may2019[['UC2_Literal']]
zone5_crime_type_2019 = zone5_may2019.groupby(['UC2_Literal'])
zone5_total_crimes = zone5_crime_type_2019['Report Number'].count()

#zone6
zone6_2019 = zone6_may2019[['UC2_Literal']]
zone6_crime_type_2019 = zone6_may2019.groupby(['UC2_Literal'])
zone6_total_crimes = zone6_crime_type_2019['Report Number'].count()

#test print to confirm
zone6_total_crimes

UC2_Literal
AGG ASSAULT              18
AUTO THEFT               49
BURGLARY                 37
HOMICIDE                  1
LARCENY-FROM VEHICLE    199
LARCENY-NON VEHICLE     129
ROBBERY                  12
Name: Report Number, dtype: int64

In [58]:
#Creating a new DF with all zones 
all_zones_2019 = pd.DataFrame ({"Zone1": zone1_total_crimes,
                               "Zone 2": zone2_total_crimes,
                               "Zone 3": zone3_total_crimes,
                               "Zone 3": zone3_total_crimes,
                               "Zone 4": zone4_total_crimes,
                               "Zone 5": zone5_total_crimes,
                               "Zone 6": zone6_total_crimes})

all_zones_2019.index.name = "May 2019 Crime Type"

#remove NaN
all_zones_2019['Zone 5']=all_zones_2019['Zone 5'].fillna(0)

all_zones_2019

                      Zone1  Zone 2  Zone 3  Zone 4  Zone 5  Zone 6
May 2019 Crime Type
AGG ASSAULT              53      16      54      46    34.0      18
AUTO THEFT               39      53      47      57    41.0      49
BURGLARY                 54      41      68      63    21.0      37
HOMICIDE                  2       2       1       2     0.0       1
LARCENY-FROM VEHICLE    113     159      79      94   214.0     199
LARCENY-NON VEHICLE      74     132      63      53   102.0     129
ROBBERY                  38       9       8      21    20.0      12

In [ ]:
#Take in data and read csv files

#May 2020
zone1_may2020 = "Resources/raw_zones_data/zone1_may2019.csv"
zone2_may2020 = "Resources/raw_zones_data/zone2_may2019.csv"
zone3_may2019 = "Resources/raw_zones_data/zone3_may2019.csv"
zone4_may2019 = "Resources/raw_zones_data/zone4_may2019.csv"
zone5_may2019 = "Resources/raw_zones_data/zone5_may2019.csv"
zone6_may2019 = "Resources/raw_zones_data/zone6_may2019.csv"


#Read May 2019 Data File and store into Pandas DataFrames
zone1_may2019 = pd.read_csv(zone1_may2019)
zone2_may2019 = pd.read_csv(zone2_may2019)
zone3_may2019 = pd.read_csv(zone3_may2019)
zone4_may2019 = pd.read_csv(zone4_may2019)
zone5_may2019 = pd.read_csv(zone5_may2019)
zone6_may2019 = pd.read_csv(zone6_may2019)

zone1_may2019