In [8]:
%matplotlib notebook

In [9]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from functools import reduce

In [30]:
#Take in data and read csv files

#May 2019
zone1_may2019 = "Resources/raw_zones_data/zone1_may2019.csv"


#Read May 2019 Data File and store into Pandas DataFrames
zone1_may2019 = pd.read_csv(zones_May2019)

zone1_may2019

ValueError: Invalid file path or buffer object type: <class 'pandas.core.frame.DataFrame'>

In [28]:
#Merge May 2019 and May 2020  
zones_2019_2020 = pd.merge(zones_May2019, zones_May2020, how="outer", on=["index"])

KeyError: ''

In [8]:
# clean data
crime_2019_df = crime_may2019.loc[:, ["UC2_Literal","Neigborhood", "Report Date"]]
crime_2019_df.head()

   UC2_Literal       Neigborhood Report Date
0      ROBBERY          Downtown   5/31/2019
1      ROBBERY   Florida Heights   5/31/2019
2      ROBBERY        High Point   5/31/2019
3  AGG ASSAULT  Browns Mill Park   5/31/2019
4  AGG ASSAULT        Inman Park   5/31/2019

In [9]:
# clean data
crime_2020_df = crime_may2020.loc[:, ["UC2_Literal","Neigborhood", "Report Date"]]
crime_2020_df.head()

            UC2_Literal       Neigborhood Report Date
0               ROBBERY      Benteen Park   5/31/2020
1  LARCENY-FROM VEHICLE          Downtown   5/31/2020
2              BURGLARY  Campbellton Road   5/31/2020
3  LARCENY-FROM VEHICLE  Lakewood Heights   5/31/2020
4           AGG ASSAULT      Leila Valley   5/31/2020

In [29]:
crime_summary_data_2019 = crime_2019_df 
crime_group_by_neigborhood_2019 = crime_summary_data_2019.groupby(["Neigborhood"])
crime_temp_df_19 = crime_group_by_neigborhood_2019.count()
crime_temp_df_2019 = crime_temp_df_19.loc[:, ["UC2_Literal"]]
crime_temp_df_2019.rename(columns = {'UC2_Literal':'Crimes 2019'}, inplace = True) 
crime_temp_df_2019

NameError: name 'crime_2019_df' is not defined

In [11]:
crime_summary_data_2020 = crime_2020_df 
crime_group_by_neigborhood_2020 = crime_summary_data_2020.groupby(["Neigborhood"])
crime_temp_df_20 = crime_group_by_neigborhood_2020.count()
crime_temp_df_2020 = crime_temp_df_20.loc[:, ["UC2_Literal"]]
crime_temp_df_2020.rename(columns = {'UC2_Literal':'Crimes 2020'}, inplace = True) 
crime_temp_df_2020

                       Crimes 2020
Neigborhood
Adair Park                     112
Adams Park                      55
Adamsville                     118
Almond Park                     28
Ansley Park                     28
...                            ...
Whittier Mill Village            7
Wildwood (NPU-C)                56
Wilson Mill Meadows              7
Wisteria Gardens                14
Woodland Hills                   7

[171 rows x 1 columns]

In [12]:
# Merge two dataframes using an outer join
crime_19_20_df = pd.merge(crime_temp_df_2019, crime_temp_df_2020, on="Neigborhood", how="outer")
crime_19_20_df

                                  Crimes 2019  Crimes 2020
Neigborhood
Adair Park                               15.0        112.0
Adams Park                                6.0         55.0
Adamsville                               32.0        118.0
Almond Park                               4.0         28.0
Amal Heights                              1.0          NaN
...                                       ...          ...
Ridgecrest Forest                         NaN          7.0
Rue Royal                                 NaN          7.0
Springlake                                NaN          7.0
The Villages at Castleberry Hill          NaN         14.0
Westhaven                                 NaN         14.0

[197 rows x 2 columns]

In [13]:
# Delete N/A
crime_clear = crime_19_20_df.dropna(how='any')
crime_clear

                       Crimes 2019  Crimes 2020
Neigborhood
Adair Park                    15.0        112.0
Adams Park                     6.0         55.0
Adamsville                    32.0        118.0
Almond Park                    4.0         28.0
Ansley Park                    3.0         28.0
...                            ...          ...
Whittier Mill Village          3.0          7.0
Wildwood (NPU-C)               4.0         56.0
Wilson Mill Meadows            3.0          7.0
Wisteria Gardens               2.0         14.0
Woodland Hills                 3.0          7.0

[148 rows x 2 columns]