In [92]:
%matplotlib notebook

In [60]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [61]:
# Study data files
Atl_2019_crime = "./Resources/2019_CrimeData_ATL.csv"
Atl_2020_crime = "./Resources/2020_Crime_Data_ATL.csv"
covid_data = "./Resources/Georgia_COVID-19 EDITED .csv"
unemp = "./Resources/Unemployment.csv"

In [62]:
crime_may2019 = pd.read_csv(Atl_2019_crime)
crime_may2019.head()

,UC2_Literal,Report Number,Report Date,Location,Beat,Neigborhood,NPU,Lat,Long
0,ROBBERY,191510360,5/31/2019,472 COURTLAND ST NE,509,Downtown,M,33.76763,-84.38419
1,ROBBERY,191511609,5/31/2019,2423 MARTIN L KING JR DR NW,108,Florida Heights,I,33.75183,-84.46623
2,ROBBERY,191511411,5/31/2019,1342 PRYOR RD SW,305,High Point,Y,33.71850,-84.39341
3,AGG ASSAULT,191510268,5/31/2019,151 CLEVELAND AVE SW,310,Browns Mill Park,Z,33.68148,-84.39422
4,AGG ASSAULT,191511544,5/31/2019,1083 EUCLID AVE NE,602,Inman Park,N,33.76323,-84.35155

In [63]:
crime_may2020 = pd.read_csv(Atl_2020_crime)
crime_may2020.head()

,UC2_Literal,Report Number,Report Date,Location,Beat,Neigborhood,NPU,Lat,Long
0,ROBBERY,201520053,5/31/2020,1362 BOULEVARD SE,607.0,Benteen Park,W,33.71744,-84.36818
1,LARCENY-FROM VEHICLE,201520174,5/31/2020,17 BAKER ST NE,509.0,Downtown,M,33.76215,-84.38675
2,BURGLARY,201520199,5/31/2020,1980 DELOWE DR SW,410.0,Campbellton Road,R,33.70106,-84.45698
3,LARCENY-FROM VEHICLE,201520274,5/31/2020,1754 RICHMOND CIR SE,307.0,Lakewood Heights,Y,33.70698,-84.37450
4,AGG ASSAULT,201520296,5/31/2020,991 STONEWALL DR SE,308.0,Leila Valley,Z,33.68995,-84.35680

In [64]:
crime_may2019.columns

Index(['UC2_Literal', 'Report Number', 'Report Date', 'Location', 'Beat',
       'Neigborhood', 'NPU', 'Lat', 'Long'],
      dtype='object')

In [89]:
# clean data
crime_2019_df = crime_may2019.loc[:, ["UC2_Literal","Neigborhood", "Report Date"]]
crime_2019_df.head()

   UC2_Literal       Neigborhood Report Date
0      ROBBERY          Downtown   5/31/2019
1      ROBBERY   Florida Heights   5/31/2019
2      ROBBERY        High Point   5/31/2019
3  AGG ASSAULT  Browns Mill Park   5/31/2019
4  AGG ASSAULT        Inman Park   5/31/2019

In [88]:
# clean data
crime_2020_df = crime_may2020.loc[:, ["UC2_Literal","Neigborhood", "Report Date"]]
crime_2020_df.head()

            UC2_Literal       Neigborhood Report Date
0               ROBBERY      Benteen Park   5/31/2020
1  LARCENY-FROM VEHICLE          Downtown   5/31/2020
2              BURGLARY  Campbellton Road   5/31/2020
3  LARCENY-FROM VEHICLE  Lakewood Heights   5/31/2020
4           AGG ASSAULT      Leila Valley   5/31/2020

In [86]:
crime_summary_data_2019 = crime_2019_df 
crime_group_by_neigborhood_2019 = crime_summary_data_2019.groupby(["Neigborhood"])
crime_temp_df_19 = crime_group_by_neigborhood_2019.count()
crime_temp_df_2019 = crime_temp_df_19.loc[:, ["UC2_Literal"]]
crime_temp_df_2019.rename(columns = {'UC2_Literal':'Crimes 2019'}, inplace = True) 
crime_temp_df_2019

                     Crimes 2019
Neigborhood
Adair Park                    15
Adams Park                     6
Adamsville                    32
Almond Park                    4
Amal Heights                   1
...                          ...
Wildwood (NPU-H)               3
Wilson Mill Meadows            3
Wisteria Gardens               2
Woodland Hills                 3
Wyngate                        1

[174 rows x 1 columns]

In [87]:
crime_summary_data_2020 = crime_2020_df 
crime_group_by_neigborhood_2020 = crime_summary_data_2020.groupby(["Neigborhood"])
crime_temp_df_20 = crime_group_by_neigborhood_2020.count()
crime_temp_df_2020 = crime_temp_df_20.loc[:, ["UC2_Literal"]]
crime_temp_df_2020.rename(columns = {'UC2_Literal':'Crimes 2020'}, inplace = True) 
crime_temp_df_2020

                       Crimes 2020
Neigborhood
Adair Park                     112
Adams Park                      55
Adamsville                     118
Almond Park                     28
Ansley Park                     28
...                            ...
Whittier Mill Village            7
Wildwood (NPU-C)                56
Wilson Mill Meadows              7
Wisteria Gardens                14
Woodland Hills                   7

[171 rows x 1 columns]

In [90]:
# Merge two dataframes using an outer join
crime_19_20_df = pd.merge(crime_temp_df_2019, crime_temp_df_2020, on="Neigborhood", how="outer")
crime_19_20_df

                                  Crimes 2019  Crimes 2020
Neigborhood
Adair Park                               15.0        112.0
Adams Park                                6.0         55.0
Adamsville                               32.0        118.0
Almond Park                               4.0         28.0
Amal Heights                              1.0          NaN
...                                       ...          ...
Ridgecrest Forest                         NaN          7.0
Rue Royal                                 NaN          7.0
Springlake                                NaN          7.0
The Villages at Castleberry Hill          NaN         14.0
Westhaven                                 NaN         14.0

[197 rows x 2 columns]

In [101]:
# Delete N/A
crime_clear = crime_19_20_df.dropna(how='any')
crime_clear

                       Crimes 2019  Crimes 2020
Neigborhood
Adair Park                    15.0        112.0
Adams Park                     6.0         55.0
Adamsville                    32.0        118.0
Almond Park                    4.0         28.0
Ansley Park                    3.0         28.0
...                            ...          ...
Whittier Mill Village          3.0          7.0
Wildwood (NPU-C)               4.0         56.0
Wilson Mill Meadows            3.0          7.0
Wisteria Gardens               2.0         14.0
Woodland Hills                 3.0          7.0

[148 rows x 2 columns]