In [7]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [12]:
# Study data files
Atl_2019_crime = "./Resources/2019_CrimeData_ATL.csv"
Atl_2020_crime = "./Resources/2020_Crime_Data_ATL.csv"
covid_data = "./Resources/Georgia_COVID-19 EDITED .csv"
unemp = "./Resources/Unemployment.csv"

In [15]:
crime_may2019 = pd.read_csv(Atl_2019_crime)
crime_may2019

,UC2_Literal,Report Number,Report Date,Location,Beat,Neigborhood,NPU,Lat,Long,Unnamed: 9
0,ROBBERY,191510360,05/31/2019,472 COURTLAND ST NE,509,Downtown,M,33.76763,-84.38419,NaN
1,ROBBERY,191511609,05/31/2019,2423 MARTIN L KING JR DR NW,108,Florida Heights,I,33.75183,-84.46623,NaN
2,ROBBERY,191511411,05/31/2019,1342 PRYOR RD SW,305,High Point,Y,33.71850,-84.39341,NaN
3,AGG ASSAULT,191510268,05/31/2019,151 CLEVELAND AVE SW,310,Browns Mill Park,Z,33.68148,-84.39422,NaN
4,AGG ASSAULT,191511544,05/31/2019,1083 EUCLID AVE NE,602,Inman Park,N,33.76323,-84.35155,NaN
...,...,...,...,...,...,...,...,...,...,...
2322,LARCENY-NON VEHICLE,191210497,05/01/2019,1815 MARTIN L KING JR DR NW,108,NaN,I,33.75092,-84.44661,NaN
2323,LARCENY-NON VEHICLE,191210739,05/01/2019,797 VIRGINIA AVE NE,601,Virginia Highland,F,33.78163,-84.36075,NaN
2324,LARCENY-NON VEHICLE,191211613,05/01/2019,9 WHATLEY ST SE,307,Lakewood Heights,Y,33.70704,-84.37856,NaN
2325,LARCENY-NON VEHICLE,191210486,05/01/2019,339 HOLLY ST NW,107,Grove Park,J,33.76460,-84.43757,NaN
2326,LARCENY-NON VEHICLE,191211529,05/01/2019,310 OAK DR SE,312,Glenrose Heights,Z,33.66859,-84.38323,NaN

In [28]:
 # Remove the rows with missing data
#clean_may2019 = crime_may2019.dropna(how="any") 
# all the data was already cleaned

In [31]:
# clean data
crime_2019_df = crime_may2019.loc[:, ["UC2_Literal", "Report Number","Neigborhood", "Report Date" ]]
#crime_may2019.columns
crime_2019_df

              UC2_Literal  Report Number        Neigborhood Report Date
0                 ROBBERY      191510360           Downtown  05/31/2019
1                 ROBBERY      191511609    Florida Heights  05/31/2019
2                 ROBBERY      191511411         High Point  05/31/2019
3             AGG ASSAULT      191510268   Browns Mill Park  05/31/2019
4             AGG ASSAULT      191511544         Inman Park  05/31/2019
...                   ...            ...                ...         ...
2322  LARCENY-NON VEHICLE      191210497                NaN  05/01/2019
2323  LARCENY-NON VEHICLE      191210739  Virginia Highland  05/01/2019
2324  LARCENY-NON VEHICLE      191211613   Lakewood Heights  05/01/2019
2325  LARCENY-NON VEHICLE      191210486         Grove Park  05/01/2019
2326  LARCENY-NON VEHICLE      191211529   Glenrose Heights  05/01/2019

[2327 rows x 4 columns]

In [32]:
crime_2019_df["Report Number"].nunique()

2327

In [37]:
summary_data = crime_2019_df
group_by_data = summary_data.groupby(["Report Date","Neigborhood" ])
print(group_by_data)
group_by_data.count()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fdf3651d780>

                                        UC2_Literal  Report Number
Report Date Neigborhood
05/01/2019  Adams Park                            1              1
            Almond Park                           1              1
            Atlanta University Center             1              1
            Atlantic Station                      2              2
            Bolton                                1              1
...                                             ...            ...
05/31/2019  Venetian Hills                        2              2
            Virginia Highland                     2              2
            West End                              1              1
            West Paces Ferry/Northside            1              1
            Westview                              1              1

[1409 rows x 2 columns]

In [38]:
! open .